<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICachingService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/WebDownloaderService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICachingService"
                contract="ICachingService" name="BasicHttpBinding_ICachingService" />
        </client>
    </system.serviceModel>
</configuration>