<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="WebDownloaderContext"
         connectionString="Data Source=PSGIVENS-ASPIRE;Initial Catalog=WebDownloader;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.serviceModel>
    <services>
      <!--<service name="PhillipScottGivens.WebDownloader.Services.CachingService">
        <endpoint address="http://localhost:8080/WebDownloaderService"
                  binding="basicHttpBinding"
                  contract="PhillipScottGivens.WebDownloader.Services.ICachingService"
                  />
      </service>-->
      <service name="PhillipScottGivens.WebDownloader.Services.DownloadService" >
        <endpoint
          address="net.msmq://localhost/private/DownloadService"
                  binding="netMsmqBinding"
                  contract="PhillipScottGivens.WebDownloader.Services.IDownloadService"
                  bindingConfiguration="NoMSMQSecurity"
                  />
      </service>
    </services>
    <client>
      <endpoint name="DLS"
          address="net.msmq://localhost/private/DownloadService"
                  binding="netMsmqBinding"
                  contract="PhillipScottGivens.WebDownloader.Services.IDownloadService"
                  bindingConfiguration="NoMSMQSecurity"
                  />
    </client>
    <bindings>
      <netMsmqBinding>
        <binding name="NoMSMQSecurity">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="myMsmqBehavior" >
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>