*/bin/Debug/*
*/obj/Debug/*
*/obj/Release/*
*/bin/Release/*
*/obj/Debug/*
**/obj/Debug/*
**/obj/Release/*
**/bin/Debug/*
**/bin/Release/*
*/packages/*
**/obj/Debug/*
**/node_modules/*
VSNugetProjectTools
ProducerConsumerEngine
VSNugetProjectTools
ProducerConsumerEngine
